@tailwind base;
@tailwind components;

body{
    @apply
    font-manrope
}

.shop-btn{
    @apply
    flex justify-center 
    font-semibold text-sm text-gray-400
    uppercase
    pb-4 hover:text-orange-500
}

.see-product-orange-btn{
    @apply
    text-white
    text-base font-semibold tracking-wider 
    pl-6 pr-6 pt-3 pb-3
    bg-[#D87D4A] 
    hover:bg-[#FBAF85]
}

.see-product-black-btn{
    @apply
    rounded-sm font-semibold text-sm tracking-widest
    hover:text-black hover:bg-white border-[0.1rem] border-black
    text-white bg-black 
    p-3 w-[10rem] h-12 
    flex justify-center
}

.see-product-transparent-btn{
    @apply
    rounded-sm font-semibold text-sm tracking-widest
    hover:text-white hover:bg-black border-[0.12rem] border-black
    text-black bg-transparent 
    p-3 w-[10rem] h-12 
    flex justify-center
}



@media screen and (min-width: 640px) {
  
        
 }